<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://kit.fontawesome.com/90db26c263.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Registro</title>
</head>
<body>
    <header>
        <div class="head-container">
            <div class="head">
                <a href="/">
                    <img class="logo" src='/img/logo-mercado-liebre.svg'>           
                </a>           
                <div class="busqueda">
                    <input type="text" name="busqueda" placeholder="Buscar productos, marcas">
                    <i id="buscar" class="fa-solid fa-magnifying-glass"></i>
                </div>
            </div>
            <div class="cuotas">
                <i class="fa-solid fa-hand-holding-dollar"></i>
                <p>Comprá en cuotas y sin tarjeta de crédito</p>
            </div>
        </div>
        <nav>
            <ul class="tienda">
                <li>
                    <a href="#ofertas">Ofertas</a>
                </li>
                <li>
                    <a href="#">Tiendas Oficiales</a>
                </li>
                <li>
                    <a href="#">Vender</a>
                </li>
                <li>
                    <a href="#">Ayuda</a>
                </li>
            </ul>
            <ul class="cuenta">
                <li>
                    <a href="/Crea-tu-cuenta">Creá tu cuenta</a>
                    <i class="fa-regular fa-id-card"></i>
                </li>
                <li>
                    <a href="/login">Ingresá</a>
                    <i class="fa-solid fa-right-to-bracket"></i>
                </li>
                <li>
                    <a href="#">Mis compras</a>
                    <i class="fa-solid fa-basket-shopping"></i>
                </li>
            </ul>
        </nav>                    
        <div class="burger-menu">
            <i class="fas fa-bars"></i>
        </div>
    </header>
    <main class="main-register">
        <h1>Registro</h1>
        <form class="register" action="/" method="get">

            <input type="text" name="nombre-apellido" id="nombre-apellido" placeholder="Nombre y apellido"> 

            <br>

            <input type="text" name="usuario" id="usuario" placeholder="Nombre de usuario">

            <label class="fecha-nacimiento" for="fecha">Fecha de nacimiento</label>
            <input type="date" name="fecha" id="fecha" placeholder="Fecha de nacimiento">

            <br>

            <input type="text" name="domicilio" id="domicilio" placeholder="Domicilio">

            <fieldset class="perfil-usuario">
                <legend>Perfil de Usuario</legend>
                
                <label for="perfil-comprador">
                  <input type="radio" name="perfil-de-usuario" id="perfil-comprador" value="Comprador">
                  Comprador
                </label>
              
                <label for="perfil-vendedor">
                  <input type="radio" name="perfil-de-usuario" id="perfil-vendedor" value="Vendedor">
                  Vendedor
                </label>
            </fieldset>

            <fieldset class="intereses">
                <legend>Intereses</legend>

                <label for="electro">
                    <input type="checkbox" id="electro" name="electro" value="electro">
                    Electro
                </label>
                <label for="moda">
                    <input type="checkbox" name="moda" id="moda" value="moda">
                    Moda
                </label>
                <label for="hogar">
                    <input type="checkbox" name="hogar" id="hogar" value="hogar">
                    Hogar
                </label>
                <label for="juguetería">
                    <input type="checkbox" name="juguetería" id="juguetería" value="juguetería">
                    Juguetería
                </label>
                <label for="vida-sana">
                    <input type="checkbox" name="vida-sana" id="vida-sana" value="vida-sana">
                    Vida Sana
                </label>
            </fieldset>

            <label class="foto-perfil" for="foto-perfil"> Foto de Perfil</label>
            <input type="file" name="foto-perfil" id="foto-perfil" accept="image/*">

            <input type="password" name="contraseña" id:"contraseña" placeholder="Contraseña">

            <br>

            <input type="password" name="confirmar-contraseña" id:"confirmar-contraseña" placeholder="Confirmar contraseña">

            <button type="submit">Enviar</button>
            <button type="reset">Borrar</button>
        </form>
    </main>
    <footer>
        <div>
            <section class="pago">
                <i class="fa-solid fa-credit-card"></i>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p>
                    Con MercadoLiebreCash tenés cuotas sin interes con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!
                </p>
            </section>
            <section class="envío">
                <i class="fa-solid fa-gift"></i>
                <h3>Envío gratis desde los $2.500</h3>
                <p>
                    Solo por estar registrado en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.
                </p>
            </section>
            <section class="Seguridad">
                <i class="fa-solid fa-user-shield"></i>
                <h3>Seguridad de principio a fin</h3>
                <p>
                    ¿No te gusta? ¡Devolvelo! En MercadoLiebre no hay nada que no puedas hacer porque estás siempre protegid@.
                </p>
            </section>
            <div class="copyright">
                <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
            </div>
        </div>
    </footer>
</body>
</html>